.main-div-1 {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    width: 600px;
}

.main-div-2 {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    width: 400px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p.footer {
    margin-top: 20px;
    font-size: 0.85rem;
    color: #6c757d;
    text-align: center;
}
